
@{
    ViewData["Title"] = "Index";
    var products = ViewBag.products;
    var categories = ViewBag.Categories;
    

}


<div class="row" style="border:1px solid #cccc">

    <div class="row" >
        <div class="col-md-12">
            <div class="content">
                <h3 class="category-content">Danh mục</h3>
                <h1 class="product-content">Danh sách sản phẩm</h1>
            </div>
        </div>

        <div class="row" style="border:1px solid #cccc">
            @foreach (var item in products)
            {
                <div class="col-md-3">
                    <div class="thumbnail" style="align-items:center">
                        <img src="@item.Avatar" alt="" style="width:100%;  align-items:center" />
                        <div class="caption">
                            <h3 class="title">@item.Name</h3>
                            <div class="price-title">
                                <p class="price" style="text-decoration: line-through;">Giá cũ:@item.Price đồng</p>
                                <p class="saleprice">Giá:@item.SalePrice đồng</p>
                            </div>
                            <p> <a asp-route="Detail" asp-route-id="@item.Id" class="btn btn-success btn-block"> Chi tiết</a> </p> @*asp-controller="Account" asp-action="Chi tiết"  asp-controller="Product" asp-action="Detail" *@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


                 