
@{
    ViewData["Title"] = "List Product";
}

<h1>List Products</h1>

<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Year</th>         
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.products)
            {
                <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.YearRelease</td>
                <td>@item.Price</td>
                </tr>
            }
        
    </tbody>
</table>
