
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="6000">
   <div class="carousel-inner" role="listbox">
       <div class="accordion-item active">
           <img src="/Image/ao1.jpg" alt="ASP.NET" class="img-responsive" />
       </div>
   </div>
    
</div>
