@{
    // Layout = "my_layout";
    ViewData["Title"] = "Home Page";
}


    
<partial name="Banner"/>
@* @Html.RenderPartialAsync("Banner") *@

@* Nút bấm *@
<button id="loadAjax" class="btn btn-sm btn-primary"> Click load book từ partialResult</button>
<hr />
@* Nội dung sẽ được load từ partial view vào đây *@
<div id="data-from-ajax" class="row"> Loading data...</div>
<hr />
@section scripts{
    <script>
        //gọi sự kiện click vào nút bấm có id="loadAjax"
        $('#loadAjax').click(function () {
            //thông qua ajax load nội dung từ partial view vào id="data-from-ajax"
            $('#data-from-ajax').load("/Book/PopularBook");
        })
    </script>
}
