@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1> Quản lý hàng hóa </h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product1 </td>
            <td>500.000</td>
            <td>20-9-2023</td>
            <td> <img src="~/images/bag1.jpg" /> </td>
            <td><div class="btn-primary">View</div></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Product2 </td>
            <td>500.000</td>
            <td>20-9-2023</td>
            <td> <img src="~/images/bag2.jpg" /> </td>
            <td><div class="btn-primary">View</div></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Product3 </td>
            <td>500.000</td>
            <td>20-9-2023</td>
            <td> <img src="~/images/bag3.jpg" /> </td>
            <td><div class="btn-primary">View</div></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Product4 </td>
            <td>500.000</td>
            <td>20-9-2023</td>
            <td> <img src="~/images/bag4.jpg" /> </td>
            <td><div class="btn-primary">View</div></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Product5 </td>
            <td>500.000</td>
            <td>20-9-2023</td>
            <td> <img src="~/images/bag5.jpg" /> </td>
            <td><div class="btn-primary">View</div></td>
        </tr>

    </tbody>
</table>
